HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Build and Release Folders ###
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

### Other files and folders ###
.settings/

### Executables ###
*.swf
*.air
*.ipa
*.apk
*.lst
*.class
Maven_*.xml
target/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
